
p {
    border-style: none;
    outline: none;
    cursor: default;
}

body {
    background-color: #FFFFFF;
    display: inline-flex;
    flex-flow: column;
}

/**************************TOP BAR*/
#topbar {
    height: 100px;
    width: 1024px;
    background-color: #0096d6;
    display: inline-block;
    font-size: 2em;
    font-weight: 300;
    color: #fff;
    line-height: 59px;

}

#topbar > div {
    float: left;
    position: relative;
    line-height: 100px;
    margin-left: 5px;
    display: inline-flex;
}

#logo > img {
    height: 100px;
    width: 130px;
    position: relative;
    top: 6px;
    right: 2px;
}

/******* CENTRAL STRUCTURE *******/
.center-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;

}

.center-container .inner {
    background-color: #FFFFFF;
    display: inline-flex;
    flex-flow: row;
    width: 1024px;
    vertical-align: middle;
}

.pane {
    padding: 15px;
    color: #607D8B;
}

/****** GAMES PANEL *******/
.games-pane {
    background-color: #e0e0e0;
    cursor: pointer;
    width: 160px;
    padding: 15px 0;
}

/****** PLAYERS PANE *******/
.details-pane {
    width: 100%;
}
.details-pane-summary{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.details-summary-data{
}
.details-summary-chart{
    width: 200px;
    height: 200px;
}
.subheader-title{
    flex-flow: row;
    display: flex;
    justify-content: space-between;
}
table, tr, td, th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: hidden;
    text-align: left;
    cursor: default;
}

th {
    cursor: pointer !important;
    background-color: #607D8B;
    color: white;
    padding: 5px 0 5px 5px;
    font-weight: bold;
    font-size: large;
}

td {
    padding: 0 0 0 5px;
}

td.name > div:first-child {
    font-weight: bold;
    font-size: large;
}

.md-subheader {
    margin-top: 50px;
    margin-right: 0 !important;
    padding: 10px;
    vertical-align: middle;
    height: 40px;
    line-height: 40px;
    font-size: 25px;
    background-color: #F3F3F3 !important;
}

/****** PLAYERS LIST **********/
md-list-item p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 10px;
}

.row {
    display: flex;
    flex-flow: row;
    width: 100%;
    color: #747474;
}

.row > div {
    width: 16%;
}

.button {
    cursor: pointer;
    padding: 5px 0;
}

.button:hover {
    background-color: #EFEFEF;
}

.blue {
    background-color: #e5e4f3;
}

.red {
    background-color: #ffe5dc;
}

.icon-spinner9:before {
    content: "\e900";
}

/****** FOOTER **************/
#footer {
    min-height: 30px;
    min-width: 1024px;
    background-color: #0096d6;
    display: inline-block;
    font-size: 2em;
    font-weight: 300;
    color: #fff;
    line-height: 59px;
}
