body {
    width: 100%;
    background-color: #EFEFEF;
    display: inline-flex;
    flex-flow: column;
}

#topbar {
    height: 100px;
    width: 1024px;
    background-color: #0096d6;
    display: inline-block;
    font-size: 2em;
    font-weight: 300;
    color: #fff;
    line-height: 59px;

}

#topbar > div {
    float: left;
    position: relative;
    line-height: 100px;
    margin-left: 5px;
    display: inline-flex;
}

#logo>img {
    height: 100px;
    width: 130px;
    position: relative;
    top: 6px;
    right: 2px;
}


.center-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;

}

.center-container .inner {
    background-color: #FFFFFF;
    display: inline-flex;
    flex-flow: row;
    width: 1024px;
    vertical-align: middle;
}

.pane{
    padding: 15px;
}

.games-pane {
    background-color: #e0e0e0;
    cursor: pointer;
    width: 150px;
    padding: 15px 0;
}
.games-pane .md-button{
    width: 90%;
}
.details-pane>div>span{
    font-weight: bold;
}
.md-subheader {
    margin-top: 50px;
    padding: 10px 1px;
    vertical-align: middle;
    height: 40px;
    line-height:40px;
    font-size: 25px;
    background-color: #F3F3F3;
}


.row {
    display: inline-flex;
    flex-flow: row;
    width: 100%;
    color: #747474;
}
.row:first-child p{
    font-weight: bold;
    color: #686868;
}
