<!DOCTYPE html>
<html ng-app="dashApp">
<head lang="en">
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <title>UrT Stats</title>
    <!--
        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
    -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
    <link rel="stylesheet" href="css/index.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/c3.css" type="text/css" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js"></script>
    <script src="js/d3.js"></script>
    <script src="js/c3.js"></script>
    <script src="js/index.js"></script>
    <script src="js/data.js"></script>

</head>
<body ng-controller="dashCtrl">

<div id="main">
    <div id="leftmain"></div>
    <div id="centermain" class="center-container">
        <div id="topbar">
            <div style="min-width: 150px;"></div>
            <div class="titlebar">
                <div id="logo">
                    <img src="img/urt.png" alt="UrT" height="50px" border="0">
                </div>
                <div id="hptitle" class="md-headline">URBAN TERROR STATISTICS (Capture The Flag)</div>
            </div>
        </div>
        <div class="inner">
            <div class="pane games-pane">
                <div id="{{key}}" class="game" ng-repeat="key in gameKeys|orderBy: getGamesOrder: true">
                    <md-button class="md-raised" ng-class="(key!='SUMMARY')?'md-primary':'md-accent'"  ng-click="setCurrentGame(key)">
                        {{key}}
                    </md-button>
                </div>
            </div>
            <div class="pane details-pane">
                <div class="details-pane-summary">
                    <div class="details-summary-data" ng-if="currentGame.gameId!='SUMMARY'">
                        <div class="md-subhead"><span>GAME:</span> {{currentGame.gameType}}</div>
                        <div class="md-subhead"><span>RESULT:</span> {{currentGame.gameResult}}</div>
                        <div class="md-subhead"><span>MAP:</span> {{currentGame.mapName}}</div>
                        <div class="md-subhead"><span>LENGTH:</span> {{currentGame.gameLength}} minutes</div>
                        <div class="md-subhead"><span>END REASON:</span> {{currentGame.gameEndReason}}</div>
                        <div class="md-subhead"><span>LOADED ON:</span> {{currentGame.gameDate}}</div>
                    </div>
                    <div class="details-summary-data" ng-show="currentGame.gameId=='SUMMARY'">
                        <div id="players-linechart-container"></div>
                    </div>
                    <div class="details-summary-chart" ng-show="currentGame.gameId=='SUMMARY'">
                        <div id="power-pie-container"></div>
                        <div style="display: flex; justify-content: center;">
                            <md-button ng-click="buildTeams(currentGame)"
                                       ng-if="currentGame.gameId=='SUMMARY'" class="md-raised md-primary">
                                BUILD TEAMS
                            </md-button>
                        </div>
                    </div>
                </div>
                <md-subheader class="md-primary md-subheader md-no-sticky md-title subheader-title">
                    <div>{{currentGame.gameId}} STATS</div>
                </md-subheader>
                <div ng-if="!dataLoaded">
                    <md-progress-linear md-mode="indeterminate"></md-progress-linear>
                </div>
                <div class="rows">
                    <table width="100%" border="1">
                        <tr style="animation: fadein 2s ease-out">
                            <th ng-if="currentGame.gameId=='SUMMARY'">IN</th>
                            <th ng-if="currentGame.gameId=='SUMMARY'">Team</th>
                            <th ng-click="setSortOrderColumn('name',true)">Name</th>
                            <th ng-if="currentGame.gameId!='SUMMARY'" ng-click="setSortOrderColumn('kills',true)">Kills</th>
                            <th ng-if="currentGame.gameId!='SUMMARY'" ng-click="setSortOrderColumn('deaths',true)">Deaths</th>
                            <th ng-if="currentGame.gameId=='SUMMARY'" ng-click="setSortOrderColumn('ratio',true)">Ratio</th>
                            <th ng-if="currentGame.gameId!='SUMMARY'" ng-click="setSortOrderColumn('score',true)">Score</th>
                            <th ng-click="setSortOrderColumn('grade',true)">Grade</th>
                        </tr>
                        <tr ng-repeat="player in playersArray | orderBy : orderColumn : orderColumnDesc"
                                ng-class="{excluded:!currentGame.players[player.name].include}"
                                on-ngrepeat-end>
                            <td ng-if="currentGame.gameId=='SUMMARY'">
                                <md-checkbox aria-label="include"
                                             class="md-primary"
                                             ng-change="playerToggleTeam(player.name, true)"
                                             ng-model="currentGame.players[player.name].include">
                                </md-checkbox>
                            </td>
                            <td ng-if="currentGame.gameId=='SUMMARY'">
                                <md-switch ng-true-value="'blue'" ng-false-value="'red'" aria-label="team"
                                           class="md-accent"
                                           ng-change="playerToggleTeam(player.name)"
                                           ng-disabled="!currentGame.players[player.name].include"
                                           ng-model="currentGame.players[player.name].team">
                                </md-switch>
                            </td>
                            <td class="name" ng-if="currentGame.gameId=='SUMMARY'"
                                ng-style="getLineFillStyle(player.grade)">
                                <div class="player-name">
                                    <div>{{$index+1 +". "+player.name}}</div>
                                    <div style="font-size: 10px; font-weight:lighter" class="{{player.team}}">
                                        {{(player.include)?(player.team).toUpperCase():''}}
                                    </div>
                                </div>
                                <div>{{player.gamesPlayed+' games'}}</div>
                            </td>
                            <td ng-if="currentGame.gameId!='SUMMARY'">
                                {{player.name}}
                            </td>
                            <td ng-if="currentGame.gameId!='SUMMARY'">{{player.kills}}</td>
                            <td ng-if="currentGame.gameId!='SUMMARY'">{{player.deaths}}</td>
                            <td ng-if="currentGame.gameId=='SUMMARY'">{{Math.round((player.kills / player.deaths)*100)/100}}</td>
                            <td ng-if="currentGame.gameId!='SUMMARY'">{{player.score}}</td>
                            <td>{{player.grade}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="rightmain"></div>
</div>
</body>
</html>