<!DOCTYPE html>
<html ng-app="dashApp">
<head lang="en">
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <title>UrT Stats</title>
    <!--
        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
    -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
    <link rel="stylesheet" href="css/index.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/c3.css" type="text/css" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js"></script>
    <script src="js/d3.js"></script>
    <script src="js/c3.js"></script>
    <script src="js/index.js"></script>
    <script src="js/data.js"></script>

</head>
<body ng-controller="dashCtrl">

<div id="main">
    <div id="leftmain"></div>
    <div id="centermain" class="center-container">
        <div id="topbar">
            <div id="logo">
                <img src="img/urt.png" alt="UrT" height="50px" border="0">
            </div>
            <div id="hptitle" class="md-headline">URBAN TERROR STATISTICS</div>
            <div id="authorize" style="float:right; margin-right:20px">

                <md-progress-circular id="progress-circular" md-mode="determinate" value="{{determinateValue}}"
                                      style="visibility:hidden"></md-progress-circular>
            </div>
        </div>
        <div class="inner">
            <div class="pane games-pane">
                <div id="{{key}}" class="game" ng-repeat="key in gameKeys">
                    <md-button class="md-raised md-primary" ng-click="setCurrentGame(key)">
                        {{key}}
                    </md-button>
                </div>
            </div>
            <div class="pane details-pane">
                <div>
                    <div class="md-subhead"><span>GAME:</span> {{currentGame.gameType}}</div>
                    <div class="md-subhead"><span>RESULT:</span> {{currentGame.gameResult}}</div>
                    <div class="md-subhead"><span>MAP:</span> {{currentGame.mapName}}</div>
                    <div class="md-subhead"><span>LENGTH:</span> {{currentGame.length}} minutes</div>
                    <div class="md-subhead"><span>END REASON:</span> {{currentGame.gameEndReason}}</div>
                    <div class="md-subhead"><span>LOADED ON:</span> {{currentGame.gameDate}}</div>
                </div>
                <div>
                    <div id="power-pie-container"></div>
                </div>
                <md-subheader class="md-primary md-subheader md-no-sticky  md-title">GAME STATISTICS</md-subheader>
                <table>
                    <div class="rows">
                        <tr class="row md-primary">
                            <th>
                                TEAM
                            </th>
                            <th>
                                NAME
                            </th>
                            <th>
                                KILLS
                            </th>
                            <th>
                                DEAthS
                            </th>
                            <th>
                                RATIO
                            </th>
                            <th>
                                SCORE
                            </th>
                            <th>
                                GRADE
                            </th>
                        </tr>
                        <tr class="row md-primary"
                            ng-repeat="player in currentGame.players | orderBy:getSortOrder:orderColumnDirection">
                            <td>
                                <md-switch ng-true-value="'blue'" ng-false-value="'red'" aria-label="team"
                                           class="md-accent"
                                           ng-change="playerToggleTeam(player.name)"
                                           ng-model="currentGame.players[player.name].team">
                                </md-switch>
                            </td>
                            <td class="width-large">
                                <p>
                                    {{player.name}}
                                </p>
                            </td>
                            <td>
                                <p>
                                    {{player.kills}}
                                </p>
                            </td>
                            <td>
                                <p>
                                    {{player.deaths}}

                                </p>
                            </td>
                            <td>
                                <p>
                                    {{getRatio(player)}}
                                </p>
                            </td>
                            <td>
                                <p>
                                    {{player.score}}
                                </p>
                            </td>
                            <td>
                                <p>
                                    {{getGrade(player)}}
                                </p>
                            </td>
                        </tr>
                </table>
            </div>
        </div>
    </div>
    <div id="footer"></div>
</div>
<div id="rightmain"></div>
</div>
</body>
</html>