<!DOCTYPE html>
<html ng-app="dashApp">
<head lang="en">
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <title>UrT Stats</title>
    <!--
        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
    -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
    <link rel="stylesheet" href="css/index.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/c3.css" type="text/css" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js"></script>
    <script src="js/d3.js"></script>
    <script src="js/c3.js"></script>
    <script src="js/index.js"></script>
    <script src="js/data.js"></script>

</head>
<body ng-controller="dashCtrl">

<div id="main">
    <div id="leftmain"></div>
    <div id="centermain" class="center-container">
        <div id="topbar">
            <div id="logo">
                <img src="img/urt.png" alt="UrT" height="50px" border="0">
            </div>
            <div id="hptitle" class="md-headline">URBAN TERROR STATISTICS</div>
            <div id="authorize" style="float:right; margin-right:20px">

                <md-progress-circular id="progress-circular" md-mode="determinate" value="{{determinateValue}}"
                                      style="visibility:hidden"></md-progress-circular>
            </div>
        </div>
        <div class="inner">
            <div class="pane games-pane">
                <div id="{{key}}" class="game" ng-repeat="key in gameKeys">
                    <md-button class="md-raised md-primary" ng-click="setCurrentGame(key)">
                        {{key}}
                    </md-button>
                </div>
            </div>
            <div class="pane details-pane">
                <div class="details-pane-summary">
                    <div class="details-summary-data">
                        <div class="md-subhead"><span>GAME:</span> {{currentGame.gameType}}</div>
                        <div class="md-subhead"><span>RESULT:</span> {{currentGame.gameResult}}</div>
                        <div class="md-subhead"><span>MAP:</span> {{currentGame.mapName}}</div>
                        <div class="md-subhead"><span>LENGTH:</span> {{currentGame.length}} minutes</div>
                        <div class="md-subhead"><span>END REASON:</span> {{currentGame.gameEndReason}}</div>
                        <div class="md-subhead"><span>LOADED ON:</span> {{currentGame.gameDate}}</div>
                    </div>
                    <div class="details-summary-chart" ng-show="currentGame.gameId=='SUMMARY'">
                        <div id="power-pie-container"></div>
                    </div>
                </div>
                <md-66subheader class="md-primary md-subheader md-no-sticky md-title">{{currentGame.gameId}} STATS
                </md-66subheader>
                <div class="rows">
                    <table width="100%" border="1">
                        <tr>
                            <th ng-if="currentGame.gameId=='SUMMARY'">IN</th>
                            <!--
                                                        <th ng-if="currentGame.gameId=='SUMMARY'">Team   ({{currentGame.columns[0].length : currentGame.columns[1].length}})</th>
                            -->
                            <th ng-if="currentGame.gameId=='SUMMARY'">Team</th>
                            <th ng-click="setSortOrderColumn('name',true)">Name</th>
                            <th ng-click="setSortOrderColumn('kills',true)">Kills</th>
                            <th ng-click="setSortOrderColumn('deaths',true)">Deaths</th>
                            <th ng-click="setSortOrderColumn('score',true)">Score</th>
                            <th ng-click="setSortOrderColumn('ratio',true)">Ratio</th>
                            <th ng-click="setSortOrderColumn('grade',true)">Grade</th>
                        </tr>
                        <tr ng-repeat="player in playersArray | orderBy : orderColumn : orderColumnDesc">
                            <td ng-if="currentGame.gameId=='SUMMARY'">
                                <md-checkbox aria-label="include"
                                             class="md-primary"
                                             ng-change="playerToggleTeam(player.name, true)"
                                             ng-model="currentGame.players[player.name].include">
                                </md-checkbox>
                            </td>
                            <td ng-if="currentGame.gameId=='SUMMARY'">
                                <md-switch ng-true-value="'blue'" ng-false-value="'red'" aria-label="team"
                                           class="md-accent"
                                           ng-change="playerToggleTeam(player.name)"
                                           ng-disabled="!currentGame.players[player.name].include"
                                           ng-model="currentGame.players[player.name].team">
                                </md-switch>
                            </td>
                            <td class="name" ng-if="currentGame.gameId=='SUMMARY'"
                                ng-style="getLineFillStyle(player.grade)">
                                <div>{{player.name}}</div>
                                <div>{{player.gamesPlayed+' games'}}</div>
                            </td>
                            <td ng-if="currentGame.gameId!='SUMMARY'">
                                {{player.name}}
                            </td>
                            <td>{{player.kills}}</td>
                            <td>{{player.deaths}}</td>
                            <td>{{player.score}}</td>
                            <td>{{player.ratio}}</td>
                            <td>{{player.grade}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div id="footer"></div>
    </div>
    <div id="rightmain"></div>
</div>
</body>
</html>